
/* btn */

article{}

article>div{
    padding: 95px 0;
    width: 1170px;
    margin: 0 auto;
}

article>div>h3{
    letter-spacing: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #25292c;
    margin-bottom: 80px;
}

article .btn{
    position: relative;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .btn>p.left{
    font-size: 12px;
    color: #888;
}

article .btn>p.right{
   width: 200px;
   padding: 12px 0;
   display: flex;
   justify-content: center;
   border: 1px solid #e8e8e8;
   border-radius: 18px;
   color: #e8e8e8;
   font-size: 12px;
   box-sizing: border-box;
}

article .btn>ul{
    position: absolute;
    border: 1px solid #e8e8e8;
    background-color: white;
    border-bottom: none;
    top: 40px; right: 0;
    width: 200px;
    display: none;
}

article .btn>ul>li{
    line-height: 25px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    font-size: 12px;
    color: #e8e8e8;
}


/* gallery */


.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery>figure{
    width: 270px;
    margin-bottom: 50px;
    position: relative;
}

.gallery>figure>img{
    margin-bottom: 30px;
}

.gallery>figure>figcaption{}

.gallery dl{}

.gallery dl>dt{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 18px;
    text-align: center;
}

.gallery dl>dd:nth-child(2){
    text-align: center;
    margin-bottom: 25px;
}

.gallery dl>dd:nth-child(2)>ins{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.gallery dl>dd:nth-child(2)>del{
    color: #e8e8e8;
    font-size: 12px;
}

.gallery dl>dd:nth-child(3){
    display: flex;
    justify-content: space-between;
}

.gallery dl>dd:nth-child(3)>.add{
    border: none;
    width: 130px; height: 36px;
    background-color: white;
    border: 1px solid #888;
    border-radius: 30px;
    color: #888;
    font-size: 12px;
}

.gallery dl>dd:nth-child(3)>.fav{
    border: none;
    width: 36px; height: 36px;
    background-color: white;
    border: 1px solid #888;
    padding-top: 2px;
    border-radius: 30px;
    color: #888;
    font-size: 16px;
}

.gallery dl>dd:nth-child(4){
    position: absolute;
    right:20px; bottom:160px;
}

.gallery dl>dd:nth-child(4)>b{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    background-color: #ca7379;
    color: white;
    width: 50px; height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}